* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 100px;
}

.container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-inner {
  display: flex;

  justify-content: center;
}
.text-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #088178;
  margin-bottom: 30px;
}

.text-section p {
  font-size: 18px;
  line-height: 1.4;
}

.image-section {
  display: flex;
  justify-content: flex-end;
}

.image-section img {
  width: 90%;
  border-radius: 10px;
}
